{% extends 'base.html' %} {% import 'macros.html' as macro %}{% import 'trendingColumn.html' as trending %}

<!-- Content block  -->
{% block content %}

<!-- News Sources  -->
<div class="row container-fluid">
  <div class="col-md-4">
    <h2>News Sources</h2>
    <div class="card shadow">
      {{ macro.displayNewsSources(source_list)}}
    </div>
  </div>
  <div class="col-md-8">
    <h2>Top Headlines</h2>
    <div class="card">
      {{ trending.displayNewsSources(top_headlines)}}
    </div>
  </div>
</div>

{% endblock %}>